<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <base href="/">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="/matafuego/dist/matafuego/favicon.ico">
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="/front/dist/matafuego/runtime.js"></script>
  <script type="text/javascript" src="/front/dist/matafuego/polyfills.js"></script>
  <script type="text/javascript" src="/front/dist/matafuego/styles.js"></script>
  <script type="text/javascript" src="/front/dist/matafuego/vendor.js"></script>
  <script type="text/javascript" src="/front/dist/matafuego/main.js"></script>
</body>

</html>